
.email>small{
    left: 840px;
    top: 355px;
    position: absolute;
    
}
input{
    height: 7vh;
    width: 50%;
}
.con{
    text-align: center;
}
.conn{
    text-align: center;
    height: 30vh;
    margin-top: 300px;
    padding-top: 30px;
  }
.faq{
    text-align: center;
    height: 60vh;
    padding-top: 40px;
    margin-top: 30px;
  }


@media screen and (max-width:576px){
    body{

        overflow-x: hidden;
    }
    .dey{
        width: 100%;
    }
    nav{
        display: none;
    }
    input{
        width: 75%;
        border: 3px solid black;
    }
    .container{
        width: 100%;
    }
    .email>small{
        display: none;
    }
    .btn{
        width: 100%;
    }
    .conn{
        display: none;
      }
      
}