nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.trending{
    text-align: center;
}
body{
    overflow-x: hidden;
}
.w-100{
  height: 95vh;
}
.cor{
    position: relative; 
  }
  .col{
    position: relative;
  }
  .cos{
    position: relative;
  }
  .hover-image{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .cor:hover .hover-image {
    opacity: 1;
  }
  .col:hover .hover-image {
    opacity: 1;
  }
  .cos:hover .hover-image {
    opacity: 1;
  }
  .con .btn{
    background-color: black;
  }
  .conn{
    text-align: center;
    height: 50vh;
    padding-top: 40px;
  }
  .conn p a{
    color: #FEFEFE;
    font-family: DIN Neuzeit Grotesk sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .faq{
    text-align: center;
    height: 30vh;
  }
  
@media screen and (max-width:576px){
    body,html{
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    .con{
        display: none;
    }
    .conn{
        display: none;
    }

    /* The sidepanel menu */
.sidepanel {
  height: 950px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  /* color: #818181; */
  color: black;
  display: block;
  transition: 0.3s;
}


/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 10px;
}
.openbtn{
  background-color: white;
  color: black;
  border: none;
}


}
